.titleLabel {
    color: #1E2125;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.sectionTitleLabel {
    color: #7F8EA6;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.bodyText {
    color: #47576F;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.addButton {
    color: #2A56FF;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
}

.blueButton {
    color: #FFFFFF;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #2A56FF;
    border-radius: 12px;
    border-style: none;
    border-color: transparent;
    border-width: 0;
}