.titleLabel {
    color: #1E2125;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.sectionTitleLabel {
    color: #7F8EA6;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.bodyText {
    color: #47576F;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.addButton {
    color: #2A56FF;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    padding: 0;
    margin: 0;
}

.blueButton {
    color: #FFFFFF;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #2A56FF;
    border-radius: 12px;
    border-style: none;
    border-color: transparent;
    border-width: 0;
}

.circle {
    display: flex;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 20px;
    border-style: none;
    border-color: transparent;
    border-width: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.background {
    background-color: #FFFFFF;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.rightSeparator {
    border-right-color: #EBEBEB;
    border-right-style: solid;
    border-right-width: 1px;

}

.scrollableContent {
    overflow-y: auto;
    flex-grow: 1;
}

.folderDiv {
    background-color: transparent;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    object-fit: contain;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
}

.navigationDiv {
    margin-bottom: 30px;
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}